<%- include('partials/header.ejs') -%>

  <div class="container">
    <!-- Intro -->
    <div class="intro">
      <h3 class="h3-heading">Intro</h3>
      <p class="intro-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eaque, architecto itaque cupiditate minus necessitatibus impedit vitae deserunt atque modi numquam quisquam unde laboriosam in. Consectetur tenetur nostrum magni quae?
      </p>
    </div>
    <!-- Posts -->
    <div class="all-posts">

      <!-- If No Posts Show This Message -->
      <% if(posts.length <= 0){ %>
        <p class="no-posts-msg"> No Posts.. </p>
      <% } %>
      
      <!-- Render Posts -->
      <% posts.forEach(post => { %>
      <div class="post">
        <h3 class="h3-heading title"> <%= post.title %> </h3>
        <p class="post-description"> <%= post.desc.substring(0, 60) %>... </p>
        <% if(post.desc.length > 60) { %>
        <a href="/posts/<%= post.title %>">Read More</a>
        <% } %>
      </div>
      <% }) %>

    </div>

  </div>
  
  <%- include('partials/footer.ejs') -%>